
# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Environment Files
# ==========================
.env
.venv/
venv/

# ==========================
# Power BI Temporary Files
# ==========================
*.pbix.autosave

# ==========================
# Log Files
# ==========================
*.log